
/* Your CSS Code here. */
.flexbox{
	display: flex;
	justify-content: space-between;
}
.holder{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.box{
	height: 50px;
	width: 50px;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.item{

}